<div class="panels-container">

    <mat-expansion-panel>
        <mat-expansion-panel-header class="orders-button" (click)="getOrders()">
            <mat-panel-title>Moje zamówienia</mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngIf="isEmpty">Nie masz żadnych zamówień</p>
        <div class="dayArray" *ngFor="let meal of meals; let i = index" value="meal">
            <div class="singleDay">
                <div><span class="date">{{meal.date | date}}</span>
                    <div class="meal">
                        <div>{{meal.type}}</div>
                        <div class="star-container" *ngIf="!meal.rate else rateTag"><img class="star" (click)="openRatingDialog(meal.id)" src="../../assets/img/star64.png"> </div>
                    </div>
                  <ng-template #rateTag class="rate-container star-container">
                    <div>
                      <p class="rate-value">{{meal.rate}} <img class="rated-star" src="../../assets/img/star64.png"></p>

                    </div>
                  </ng-template>
                </div>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="password-panel">
        <mat-expansion-panel-header>
            <mat-panel-title>Zmień hasło</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
            <input matInput type="password" [(ngModel)]="model.oldPassword" placeholder="Old password"
                   name="oldPassword" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" [(ngModel)]="model.newPassword" placeholder="New password"
                   name="newPassword" required>
        </mat-form-field>
        <div>
            <button mat-stroked-button (click)="changePassword()" [disabled]="!model.oldPassword||!model.newPassword">
                Zmień hasło
            </button>
        </div>
        <p class="error" *ngIf="error">{{error}}</p>
    </mat-expansion-panel>
</div>
<app-rating-dialog ></app-rating-dialog>
