mat-expansion-panel {
    background-color: white;
    opacity: .7;
    width: 25%;
    margin: 1% auto 0 2%;
}

mat-expansion-panel-header {
    background-color: rgb(235, 235, 235);
}

mat-panel-title {
    font-weight: bold;
    font-size: 1.5em;
}

.orderedMeal {
    display: flex;
    justify-content: space-between;
}

.star-container {
    width: 2em;
}

.star {
    width: 22px;
    height:  22px;
    margin-right: .5em;
}

.star:hover {
    cursor: pointer;
}

.mat-expansion-panel-body {
    padding: 0 !important;
}

.date {
    font-size: 1.2em;
    font-weight: bold;
}

.singleDay {
    padding: 10px 0 10px 8px;
}

.singleDay:nth-child(odd) {
    height: auto;
    background-color: rgb(241, 241, 241);
}

.singleDay:hover {
    background-color: rgb(209, 206, 206);
}

.singleDay:nth-child(odd):hover {
    background-color: rgb(228, 222, 222);
}

.panels-container {
    display: flex;
}

.error {
  color: red;
}

@media (max-width: 1300px) {
    .mat-expansion-panel {
      width: 30%;
    }
}

@media (max-width: 1100px) {
    .mat-expansion-panel {
      width: 40%;
    }
}

@media (max-width: 750px) {
    .mat-expansion-panel {
      width: 70%;
    }
}
