<form [formGroup]="form" method="post">
  <mat-form-field>
    <input matInput [matDatepicker]="menuDatePicker" [min]="minDate" [max]="maxDate" formControlName="date" [(ngModel)]="menuItem.date">
    <mat-datepicker-toggle matSuffix [for]="menuDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #menuDatePicker></mat-datepicker>
  </mat-form-field>
  <div class="form-group">
    <label>Śniadanie</label>
    <input type="text" formControlName="breakfast" [(ngModel)]="menuItem.breakfast">
  </div>
  <div class="form-group">
    <label>Obiad</label>
    <input type="text" formControlName="dinner" [(ngModel)]="menuItem.dinner">
  </div>
  <div class="form-group">
    <label>Kolacja</label>
    <input type="text" formControlName="supper" [(ngModel)]="menuItem.supper">
  </div>
</form>