<div class="orders-container">
<div *ngFor="let orderEntity of orders" class="orderEntity" [ngStyle]="{'padding-bottom': '10px'}">
  <mat-card>
    <mat-card-header>Dzień {{ orderEntity.id }}</mat-card-header>
    <mat-card-content>
      <app-orderEntity-form [orderEntity] = "orderEntity">
      </app-orderEntity-form>
      <button 
        mat-raised-button
        class="delete-button" 
        (click)="deleteDay(orderEntity.id)">Usuń</button>
    </mat-card-content>
  </mat-card>
</div>
</div>
<div class="button-row">
  <button 
  mat-raised-button
  class="basic-button"
  (click)="sendOrder()">Wyślij zamówienie</button>
</div>
