.order {
    width: 25%;
    padding: 10px 20px;
}

.orders-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mat-card {
    width: 100%;
    opacity: .8;
}