<mat-drawer-container class="menu-container">
  <mat-drawer #drawer class="menu-sidenav" mode="side" position="end">
    <p class="text-center medium-size" *ngIf="isEmpty">Nie wprowadzono jeszcze menu na najbliższy tydzień</p>
    <div *ngFor="let menuItem of menuItems; let i = index">
        <p (click)="showFiller = !showFiller">{{menuItem.date}}</p>
        <ul>
          <li class="break-word"> Śniadanie: {{menuItem.breakfast}}</li>
          <li class="break-word"> Obiad: {{menuItem.dinner}}</li>
          <li class="break-word"> Kolacja: {{menuItem.supper}}</li>
        </ul>
    </div>
  </mat-drawer>
  <div class="menu-sidenav-content" (click)="drawer.toggle(); getMenuItems()">
    <button type="button" mat-button >
      Zobacz menu na najbliższy tydzień
    </button>
    <div class="img-padding">
        <img src="../../assets/img/cooking.png">
    </div>
  </div>
</mat-drawer-container>
