h3 {
    margin: 0 0 10px;
}

.row {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn-group {
    display: flex;
    flex-direction: row;
    margin-right: 1em;
}

.btn {
    padding: .5em;
    margin-right: .5em;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5%;
    height: 1.5em;
    text-align: center;
}

.btn:hover {
    background-color: #5d9cf0;
    cursor: pointer;
}