<div *ngIf="isUserLoggedIn()" class="header">
  <div class="container nav-container">
    <div class="left-logo" style="padding: 5px">
      <img src="../../assets/img/home64white.png"
      class="logo" (click)="navigateToMainPage()"/>
    </div>
    <div class="menu-list">
      <ul class="list">
        <li *ngIf="isAdmin()" (click)="navigateToAdminPage()" class="li-container">
          <img class="li-img" src="../../assets/img/settings24.png"><span class="li-text">Panel administracyjny</span>
        </li>
        <li (click)="logout()">Wyloguj się</li>
      </ul>
    </div>
  </div>
</div>